<label
  class="block w-full text-left mt-2"
  for="datefield-label"
  id="datefield-label"
>
  <ng-content></ng-content>
</label>

<div
  (click)="clickContainer($event)"
  [ngClass]="{
        'border-warn ring-warn focus:border-warn':
            dateFieldsForm.touched && dateFieldsForm.invalid,
        'bg-slate-50 cursor-not-allowed': dateFieldsForm.disabled
    }"
  aria-labelledby="datefield-label"
  class="datepicker-container"
  tabindex="1"
>
  <div
    [formGroup]="dateFieldsForm"
    class="flex space-x-1 items-center"
    role="form"
  >
    <div (click)="picker.open()" class="flex" tabindex="5">
      <svg
        class="w-6 h-6 hover:cursor-pointer"
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>

    <!-- Day -->
    <input
      #day
      (keydown)="keyDownNumberCharType($event)"
      class="appearance-none focus:appearance-none focus:shadow-none shadow-none outline-none m-0 p-0 w-[50px]"
      formControlName="day"
      maxlength="2"
      placeholder="JJ"
      tabindex="2"
      type="text"
    />
    <span class="text-gray-500">/</span>
    <!-- Month -->
    <input
      #month
      (keydown)="keyDownNumberCharType($event)"
      class="appearance-none focus:appearance-none focus:shadow-none shadow-none outline-none m-0 p-0 w-[50px]"
      formControlName="month"
      maxlength="2"
      placeholder="MM"
      tabindex="3"
      type="text"
    />
    <span class="text-gray-500">/</span>
    <!-- Year -->
    <input
      #year
      (keydown)="keyDownNumberCharType($event)"
      class="appearance-none focus:appearance-none focus:shadow-none shadow-none outline-none m-0 p-0 w-[100px]"
      formControlName="year"
      maxlength="4"
      placeholder="AAAA"
      tabindex="4"
      type="text"
    />
  </div>
  <div>
    <input
      [formControl]="datepickerControl"
      [matDatepicker]="picker"
      [max]="maxDate"
      [min]="minDate"
      class="h-0 w-0 z-0"
      matInput
      style="visibility: hidden"
      type="text"
    />
    <mat-datepicker
      #picker
      [disabled]="dateFieldsForm.disabled"
    ></mat-datepicker>
  </div>
</div>
<!-- Hidden field -->
<div *ngIf="dateFieldsForm.hasError('invalid')" class="mt-1">
  <div
    *ngFor="let error of dateFieldsForm.getError('invalid')"
    class="text-warn text-xs font-semibold"
  >
    {{ error }}
  </div>
</div>
