@use '@angular/material' as mat;
@import "variables";
@include mat.core();

$socle-primary: mat.define-palette($primary-palette, 300);
$socle-accent: mat.define-palette($accent-palette, 400);

$socle-warn: mat.define-palette(mat.$red-palette);

$socle-theme: mat.define-light-theme((
  color: (
    primary: $socle-primary,
    accent: $socle-accent,
    warn: $socle-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($socle-theme);
