.sidenav-container {
  height: 100%;
}

.sidenav {
  width: var(--sidebar-width);
  @apply bg-accent #{!important};
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.top-navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.active-link {
  @apply bg-primary;
}
