<div class="shadow-lg">
  <table aria-label="Elements" class="full-width-table" mat-table matSort>
    <!-- Select -->

    <!-- Id Column -->
    @for (col of columns; track col.prop) {
      <ng-container [matColumnDef]="col.prop">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header="{{ col.sortable }}"
        >
          {{ col.name }}
        </th>
        <td mat-cell *matCellDef="let row">
          @switch (col.type) {
            @case ('string') {
              <span [matTooltip]="tooltipMessage(row[col.prop])">{{
                  row[col.prop]
                }}</span>
            }
            @case ('date') {
              {{ row[col.prop] | date : 'dd/MM/yyyy' }}
            }
            @case ('number') {
              {{ row[col.prop] }}
            }
            @case ('currency') {
              {{ row[col.prop] | currency : 'XOF' }}
            }
            @case ('customDisplay') {
              {{ col?.handleCustomDisplay ? col?.handleCustomDisplay(row) : null }}
            }
            @default () {
              {{ row[col.prop] }}
            }
          }
        </td>
      </ng-container>
    }

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let row" mat-cell>
        @if (actionTemplate) {
          <ng-container
            *ngTemplateOutlet="actionTemplate; context: { $implicit: row }"
          ></ng-container>
        }
      </td>
    </ng-container>

    <!--  -->
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr
      (click)="
        config.rowClickable ? handleRowClick(row) : $event.preventDefault()
      "
      *matRowDef="let row; columns: displayedColumns"
      [ngClass]="{
        'hover:cursor-pointer hover:bg-gray-50': config.rowClickable,
        'bg-gray-100': rowSelected.isSelected(row)
      }"
      mat-row
    ></tr>
  </table>

  <!-- loading -->
  @if (loading) {
    <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
  }

  <!--  Empty data -->
  @if (!loading && !dataSource.data.length) {
    <p class="text-center p-4">Aucun élément trouvé</p>
  }

  <mat-paginator #paginator (page)="pageEvent($event)" aria-label="Select page">
  </mat-paginator>
</div>
<br />
