<div class="bg-gray-100 p-4 mt-4">
  <br />
  <button color="primary" isLoading outlined-button>Hello world !</button>

  <div class="flex space-x-2">
    <core-datepicker> Datepicker</core-datepicker>

    <core-form-field>
      <core-label>Nom de l'utilisateur</core-label>
      <input
        class="form-input"
        coreInput
        id="text"
        placeholder="Ex:. Ambroise BAZIE"
        type="text"
      />
      <mat-icon corePrefix svgIcon="people" />
    </core-form-field>
  </div>
  <br />
</div>
