<div class="bg-gray-100 p-4 mt-4">
  <br/>
  <button color="primary" raised-button>Hello world !</button>

  <div class="flex space-x-2">
    <core-datepicker> Datepicker</core-datepicker>

    <core-form-field>
      <core-label>Nom de l'utilisateur</core-label>
      <input
        class="form-input"
        coreInput
        id="text"
        placeholder="Ex:. Ambroise BAZIE"
        type="text"
      />
      <mat-icon corePrefix svgIcon="people"/>
    </core-form-field>
  </div>

  <div>
    <core-toast type="success">
      <core-toast-title>Toast title</core-toast-title>
      <core-toast-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci aliquid blanditiis cumque
        dignissimos dolorum id, iste libero, magnam nihil omnis quaerat. Adipisci alias eius error labore quibusdam sit
        sunt!
      </core-toast-content>
    </core-toast>
  </div>
  <br/>
</div>
