@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --core-primary-color-rgb: 16, 57, 65; // #103941
  --core-accent-color-rgb: 16, 52, 86; // #103456
  --core-warn-color-rgb: 244, 186, 201; // #f44336
  --core-label-text-color-rgb: black;
  --core-default-bg-color: #103456;
  --core-font-size-default: 1.125rem;
  --core-btn-border-radius: 50px;
  --core-dialog-border-radius: 50px;
  --core-input-border-radius: 5px;
  --core-toast-border-radius: 12px;
  --core-toast-success-color: 244, 67, 54;
  --core-toast-danger-color: 244, 67, 54;
  --core-toast-default-color: 244, 67, 54;
  --core-toast-info-color: 244, 67, 54;
  --core-toast-warning-color: 244, 67, 54;
  --mdc-dialog-container-shape: 50px;
  --core-border-radius: 5px;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SuezOne";
  src: url("./assets/fonts/SuezOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Raleway, "Helvetica Neue", sans-serif;
}
