@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --core-primary-color-rgb: 242, 112, 199;
  --core-primary-color-hex: #f270c7;
  --core-accent-color-rgb: 0, 185, 152;
  --core-accent-color-hex: #00b998;
  --core-warn-color-rgb: 244, 67, 54;
  --core-warn-color-hex: #f44336;
  --core-label-text-color-rgb: black;
  --core-default-bg-color: #fff;
  --core-font-size-default: 1.125rem;
  --core-btn-border-radius: 5px;
  --core-dialog-border-radius: 50px;
  --core-input-border-radius: 1px;
  --mdc-dialog-container-shape: 50px;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SuezOne";
  src: url("./assets/fonts/SuezOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Raleway, "Helvetica Neue", sans-serif;
}
