core-datepicker {
  @apply mt-2;

  .datepicker-container {
      @apply flex justify-between w-full mt-1 mb-0 px-3 py-2 border-0 border-b z-10 border-gray-300 overflow-x-hidden focus-within:border-b-primary focus-within:ring-0 focus-within:shadow-md bg-white;
      border-radius: var(--core-input-border-radius);
    }

    input {
      text-align: center;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      letter-spacing: 0.002em;
      color: #000000;
    }


    input::placeholder {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.002em;
      @apply text-gray-400;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
}


